/* colors definitions */
:root {
    --dimmed: rgb(165, 165, 186);
    --light-gray: rgb(218, 218, 221);
    --dark-gray: rgb(50, 50, 77);
    --light-black: rgb(24, 24, 38);
    --lighter-black: rgb(33, 33, 51);
    --dark-white: rgb(246, 247, 249);
    --white: rgb(255, 255, 255);
}

/* theme based color definitions */
html {
    --secondary-bg: var(--white);
    --border: var(--light-gray);
    --color: var(--light-black);
    --bg: var(--dark-white);
}

@media (prefers-color-scheme: dark) {
    html {
        --secondary-bg: var(--lighter-black);
        --border: var(--dark-gray);
        --bg: var(--light-black);
        --color: var(--white);
    }
}
/* theme based color definitions */

/* the container that holds everything in everypage */
.body {
    min-height: 100vh;
    width: 100vw;
}