/* colors definitions */
:root {
    --lightest-black: rgba(28, 28, 28);
    --light-black: rgb(19, 20, 21);
    --white: rgb(255, 255, 255);
    --gray: rgba(182, 182, 182, 0.357);
}

/* theme based color definitions */
html {
    --color: var(--light-black);
    --bg: var(--white);
}

@media (prefers-color-scheme: dark) {
    html {
        --border: var(--lightest-black);
        --bg: var(--light-black);
        --color: var(--white);
    }
}
/* theme based color definitions */

/* the container that holds everything in everypage */
.body {
    min-height: 100vh;
    width: 100vw;
}