.userbar {
    background-color: var(--light-black);
    border-right: solid var(--border) 0.5px;
    width: 70px !important;
    padding-bottom: 10px;
    text-align: center;
    padding-top: 40px;
    height: 100vh;
}

.icon {
    height: unset !important;
    font-size: 24px;
    padding: 5px;
}

.space {
    padding-bottom: 15px;
    padding-top: 15px;
}

.space div {
    border: solid 1px var(--gray);
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    display: flex;
    height: 30px;
    width: 30px;
}